#CardColor{
    display: flex;
    justify-content: center;
}

.ColorSelect{
    width: 850px;
    height: 250px;
    justify-content: center;
    margin: 0 auto;
    margin-top: -10px;

}
@media (max-width: 768px){
    .ColorSelect{
        width: 400px;
        margin: auto;
    }
}
@media (max-width: 991px){
    #CardColor{
            width: 400px;
            margin: auto;
    }
}