#CardEquipement{
        width: 450px;
    display: flex;
    justify-content: center;
}
.EquipementSelect{
    width: 750px;
    justify-content: center;
    margin: 0 auto;
}
@media (max-width: 768px){
    .EquipementSection{
        width: 450px;
    justify-content: center;
}
}
@media (max-width: 991px){
    #CardEquipement{
        width: 450px;
        margin: 0 auto;
    justify-content: center;
}
}

