#CardVersion{
    display: flex;
    justify-content: center;
}
.versionSelect{
    width: 650px;
    height: 150px;

    justify-content: center;
    margin: 0 auto;
}
@media (max-width: 768px){
    .versionSection{
        width: 450px;
        margin: 0 auto;
    }
}
@media (max-width: 991px){
    #CardVersion{
        width: 450px;
        margin: 0 auto;
    }
}


