.carouselModelisation{
    display: flex;
    justify-content: center;
    width: auto;
    height: 400px;
}
.previous,.next{
    transition-duration: 1s;
    background: transparent ;
}
.previous:hover {
    background: linear-gradient(to left, rgba(0,0,0,0),rgba(0,0,0,0.5)) ;
}
.next:hover{
    background: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.5)) ;
}
a{
    z-index: 1;
}

